@model IEnumerable<SistemaLanches.Models.Lanche>

<div>
    <h2>Todos os Lanches</h2>
</div>

@foreach (var lanche in Model)
{
    <div>
        <h3>@lanche.LancheNome</h3>
        <p><img src="@lanche.ImagemUrl"></p>
        <h4>Preço : @lanche.Preco.ToString("c")</h4>
    </div>
}